

body {
	width: 100%;
    background-image: url("../image/background.svg");
    background-repeat: repeat;
    font-family: "Arial Black", Gadget, sans-serif;
}

#callout{
    background-image: url("../image/callout.svg");
    background-repeat: repeat;
}

#callout-container{
    margin: 0 200px 0 200px;
    padding-top: 50px;
    text-align: center;
    background-color: rgba(248,248,248,0.8);
}


/*header------------------------------------------------------*/
.header-container {
	display: grid;
	width: 100%;
	height: 400px;
	grid-template: "b b b b b a";	
}

.header-container div:nth-child(2){
	grid-area: b;
    margin: 20px;
	background-image: url("../image/header_looping.gif");
  	background-repeat: no-repeat;
  	background-size: 90%;
}
.header-container div:nth-child(1){
    grid-area: a;
    width: 30%;    
}


/*------------------------------------------------------------------------*/


#picture {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template: "a b";
    grid-template-columns: 150px 1fr;   
}

#picture div:nth-child(2){
    grid-area: b;
    margin: 20px;
    width: 60%;
}
#picture div:nth-child(1){
    grid-area: a;
}