body {
  min-height: 200vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 7.5% 15% 1fr 15% 1fr 7.5%;
  grid-template-areas:
    "logo logo logo nav nav nav"
    "brief brief brief brief brief brief"
    "para1 para1 game game game game"
    "data data data data data data"
    "video video video video video video"
    ". . . . footer .";
}

#game {
  grid-area: game;
}

footer {
  grid-area: footer;
}

.instruction {
  padding-top: 20%;
  grid-area: para1;
  align-self: start;
  justify-self: center;
  font-size: 1.2em;
}

#video {
  display: flex;
  grid-area: video;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------- */

.result {
  grid-area: data;
}
.table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#red-square {
  justify-self: center;
  align-self: center;
  display: inline-block;
  /* margin: 5%; */
  padding-bottom: 10%;
  width: 15%;
  height: 30%;
  background: red;
  color: red;
}

#green-square {
  display: inline-block;
  margin: 0;
  padding-bottom: 10%;
  width: 15%;
  height: 30%;
  background: rgb(0, 255, 0);
  color: rgb(0, 255, 0);
}

#blue-square {
  display: inline-block;
  /* margin: 5%; */
  padding-bottom: 10%;
  width: 15%;
  height: 30%;
  background: rgb(0, 0, 255);
  color: rgb(0, 0, 255);
}

.data-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.data-square {
  padding-right: 3%;
}
